.article {
    font-family: 'roboto';
    width: auto;
    padding-top: 38px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: $light_ground_color;

    &__h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 22px;
    }

    &__figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 17px;
        border-radius: 20px;
        background-color: white;
        &--new{
            border-radius: 5%;
            padding: 5px 10px;
            right: 9%;
            margin-top: 13px;
            position: absolute;
            background-color: $tertiary_colour;
            color: darken($color: $tertiary_colour, $amount: 40%);
            font-size: 0.9rem;
            font-weight: bold;
        }

        &__img {
            object-fit: cover;
            height: 174px;
            padding: 0;
            border-radius: 15px 15px 0 0;
        }
    }

    &__figcaption {
        color: black;
        padding-top: 16px;
        padding-bottom: 17px;
        padding-left: 13px;
        display: flex;
        flex-flow: column wrap;

        &__h3 {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: bold;
            padding-bottom: 5px;
        }
        &__like{
            position: absolute;
            right: 3em;
        }
    }
}