.article {
    font-family: 'roboto';
    width: auto;
    padding-top: 14px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 46px;
    background-color: $light_ground_color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 22px;
        display: flex;
        flex: 1 0 100%;
        text-align: left;
    }
    &__card{
       width: 100%;
        max-width: 350px;
        transform: scale(1);

    }

    &__figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 17px;
        border-radius: 20px;
        background-color: white;
        position: relative;

        &--new {
            border-radius: 5%;
            padding: 5px 10px;
            position: absolute;
            right: 9%;
            margin-top: 13px;
            
            background-color: $tertiary_colour;
            color: darken($color: $tertiary_colour, $amount: 40%);
            font-size: 0.9rem;
            font-weight: bold;
        }

        &__img {
            object-fit: cover;
            height: 174px;
            padding: 0;
            border-radius: 15px 15px 0 0;
        }
    }

    &__figcaption {
        color: black;
        padding-top: 16px;
        padding-bottom: 17px;
        padding-left: 13px;
        display: flex;
        flex-flow: column wrap;

        &__h3 {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: bold;
            padding-bottom: 5px;
        }

        &__like {
            position: absolute;
            right: 3em;
        }
    }
}

@media screen and (min-width: 799px){
    .article{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &__h2{
            flex: 1 100%;
        }
        &__card{
            width: 40%;
            margin: 20px;
        }
    }
}