/*header*/

.header{
    width: auto;
    text-align: center;
    background-color: $couleur_fond_gris-clair;
    font-family: 'roboto';
    padding-bottom: 30px;
    &__h1{
        font-family: 'shrikhand';
        font-size: 1.9rem;
        padding-top: 14px;
        padding-bottom: 5px;  
        background-color: white;
    }
    &__location{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 13px;
        padding-bottom: 15px;
        background-color: $couleur_fond_gris;
        box-shadow: inset 0px 3px 5px -2px grey;
        &--input{
            width: 40%;
            border: none;
            background-color: $couleur_fond_gris;
            padding-left: 14px;
            opacity: 1;
            font-size: 1rem;
            font-weight: bold;
            &::placeholder{
                font-size: 1rem;
                font-weight: bold;
                opacity: 0.7;
            }
        }
    }    
    &__h2{
        padding-left: 58px;
        padding-right: 73px;
        padding-top: 39px;
        background-color:$couleur_fond_gris-clair;
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__p{
        font-size: 1.1rem;
        font-weight: 300 ;
        padding-top: 12px;
    }
    &__btn{
        display: block;
        text-decoration: none;
        color: white;
        background: linear-gradient($couleur_secondaire, $couleur_primaire);
        margin: 30px 80px;
        padding: 15px;
        border-radius: 30px;
        background-color: $couleur_fond_gris-clair;
        box-shadow: 2px 5px 15px 0px grey;
        &:hover{
            opacity: 0.7;
            // box-shadow: 5px 5px 5px 0px grey;

        }
        

    }
}